@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  /* Paleta de Cores */
  --color-amarelo: #EBA92F;
  --color-azul: #121456;

  /* Fontes */
  --font-titulo: "Roboto", sans-serif;
  --font-corpo: "Inter", sans-serif;
}

@layer utilities {
  .font-titulo {
    font-family: var(--font-titulo);
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1.2;
  }

  .font-corpo {
    font-family: var(--font-corpo);
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.6;
  }
}
